@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #090f18;
}

.animate-fade_in {
  animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1.6rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-appear {
    animation: appear 0.8s ease-in-out forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
